<!--  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程详情</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/course_info.css">
</head>
<body>
    <div class="poster-wrap">
        <a class="poster play" href="javascript:;">
            <img src="{$info.detail_pic}" alt="">
            <div class="play-btn">
                <img src="__STATIC__/image/course broadcast_start@2x.png" alt="">
            </div>
        </a>
        <div class="video-info">
            <p class="title">{$info.title}</p>
            <!-- <div class="count">最近<span>125</span>人在学</div> -->
            <!-- <div class="favorable">好评度<span>98%</span></div> -->
            <div class="price">￥<span>{$info.price}</span></div>
        </div>
    </div>

    <div class="course-info-wrapper">
        <div class="course-info-title">
            <div class="title-en">COURSE INDRODUCE</div>
            <div class="title-con">
                <div class="bg-l bg">
                    <img src="__STATIC__/image/course details_line@2x.png" alt="">
                </div>
                课程简介
                <div class="bg-r bg">
                    <img src="__STATIC__/image/course details_line@2x.png" alt="">
                </div>
            </div>
        </div>
        <div class="course-content">
            {$info.content|htmlspecialchars_decode}
        </div>
    </div>

    <footer class="footer">
        <button class="collect">收藏</button>
        <button class="buy">立即购买</button>
    </footer>

<script src="__STATIC__/js/jquery.js"></script>
<script src="/public/js/layer/layer.js"></script>
<script type="text/javascript">
    $(function(){
        var is_buyed = "{$is_buyed}";
        $('.play').click(function(){
            if(is_buyed == 0){
                layer.msg('您尚未购买，不能播放');
            } else {
                window.location="{:url('mobile/lesson/episode', array('lesson_id'=>$info.id))}";
            }
        })

        // 收藏
        $('.collect').click(function(){
            $.ajax({
                url: "{:url('mobile/lesson/ajaxCollect')}",
                type: 'post',
                dateType: 'json',
                data: {lesson_id: "{$info.id}"},
                success: function(result){
                    if(result.code == 200){
                        layer.msg(result.msg);
                    } else {
                        layer.msg(result.msg);
                    }
                }
            })
            $(".collect").html("已收藏").css({"background":"rgba(122,190,223,1)","box-shadow":" 0 0.04rem 0 0 rgba(112,177,208,1)","color":"#fff"})
        })

        // 购买
        $('.buy').click(function(){
            layer.load(1);
            $.ajax({
                url: "{:url('mobile/lesson/ajaxSubmitOrder')}",
                type: 'post',
                dateType: 'json',
                data: {lesson_id: "{$info.id}"},
                success: function(result){
                    layer.closeAll('loading');
                    if(result.code == 200){
                        layer.msg('下单成功，去支付', {icon:1}, function(){
                            $.ajax({
                                url: "{:url('mobile/pay/unifiedOrder')}",
                                type: 'post',
                                dateType: 'json',
                                data: {},
                                success:function(data){
                                    console.log(data);
                                }
                            })
                        });
                    } else {
                        layer.msg(result.msg);
                    }
                },
                error: function(){
                    layer.msg('服务器出错，请稍后再试');
                }
            })
        })
    })
</script>
</body>
</html>