<!-- PK -->
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PK</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/global.css">
    <link rel="stylesheet" href="__STATIC__/css/pk-pk.css">
</head>
<body>

    <div class="pk-wrapper">
        <div class="user1-title-wrapper icon3">
            <div class="poster-wrapper">
                <img class="user1_poster" src="__STATIC__/image/poster1.png" alt="">
            </div>
            <div class="user1-name">晴天还是雨天</div>
        </div>

        <div class="daojishi-wrapper">
            <i class="icon2 daojishi-icon"></i>
            <span>剩余 <span class="daojishi-content"></span> </span>
        </div>
        <div class="user2-title-wrapper icon3">
            <div class="poster-wrapper">
                <img class="user2_poster" src="__STATIC__/image/poster1.png" alt="">
            </div>
            <div class="user2-name">晴天还是雨天</div>
        </div>
    </div>

    <div class="pk-pk-choose">
        <ul>
            <li>
                <form class="questions-wrapper" action=""></form>
            </li>
        </ul>
        <!-- date : 1 正确， 2 错误， 3 未选择 -->
        <div class="jindu1-wrapper jindu-wrapper">
            <em id="user1-number">0</em>
            <span class="user1_jindu jindu">
                <span class="user1_jindu-con jindu-con"></span>
            </span>
        </div>
        <div class="jindu2-wrapper jindu-wrapper">
            <em id="user2-number">0</em>
            <span class="user2_jindu jindu">
                <span class="user2_jindu-con jindu-con"></span>                    
            </span>
        </div>
    </div>

    <div class="fenye" style="position:absolute;bottom:0.5rem;width:100%;text-align: center;color:rgba(255,255,255,0.3);">
        <span>1/1</span>
    </div>
    <!-- <button id="begin" style="width:80%;margin:0 auto;display:block;margin-top: 100px;">开始</button> -->

    
    <script src="__STATIC__/js/jquery.js"></script>   
    <script src="__STATIC__/js/pk.js"></script>
    <script >
        function getPageParams() {
            var url = window.location.href
            var option = {}
            if (url.indexOf("?") > -1) {
              var arr = url.split("?")[1].split("&")
              arr.forEach(function (str) {
                var arrTemp = str.split("=")
                option[arrTemp[0]] = arrTemp[1]
                option[arrTemp[1]] = arrTemp[2]
              })
            }
            return option
        }
        
        let data=getPageParams()
        console.log(data)
        let id=data.id
        let to_user_id = data.to_user_id;
        $.ajax({
            type: 'POST',
            url: "http://tounao.staraise.com.cn/Api/pk/intoroom",
            data: {
                room_id:id,
                to_user_id:to_user_id
            },
            dataType: "json",
            success:function(data){
                console.log(data)
            }
        })
    </script>
</body>
</html>