/* 我的 */
.mine-poster-wrap {
    position: relative;
    padding: 0 0.2rem;
    box-sizing: border-box;
    width: 7.5rem;
    height: 3rem;
}
.mine-poster-wrap .bg {
    display: inlint-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 3rem;
    /* background: red; */
}
.mine-poster-wrap .poster {
    margin-top: 0.6rem;
    display: inline-block;
    width: 1.28rem;
    height: 1.28rem;
    border-radius: 50%;
    overflow: hidden;
}
.mine-poster-wrap .poster img {
    width: 100%;
}
.mine-poster-wrap .user-wrap {
    position: absolute;
    display: inline-block;
    left: 2rem;
    top: 0.5rem
}
.mine-poster-wrap .user-wrap p {
    color: #fff;
    z-index: 123;
    line-height: 0.5rem
}
.mine-poster-wrap .user-wrap button {
    color: #fff;
    background: transparent;
    border: 0;
}

.content-wrap {
    width: 100%;
    margin-top: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.2rem;
    box-sizing: border-box;
}
.content-wrap li {
    display: flex;
    height: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01rem solid rgba(246,246,246,1);
}
.content-wrap li a .icon {
    height: 0.4rem;
    vertical-align: -0.08rem;
}
.content-wrap li a .icon img {
    height: 0.4rem;
}
.content-wrap li a .icon span {
    font-size: 0.3rem;
    font-weight: 400;
    color:rgba(58,58,58,1);
    line-height: 0.42rem;
}
.content-wrap li .more {
    height: 0.5rem;
}
.content-wrap li .more img {
    height: 0.5rem;
}


/* 个人信息 */
.user-info {
    position: relative;
    width: 100%;
    height: 100%;
}
.user-info .tanchuang-wrap {
    position: absolute;
    background: rgba(0,0,0,0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-info .tanchuang-wrap .tanchuang {
    width: 6.5rem;
    background: #fff;
    border-radius: 0.2rem;
}
.user-info .tanchuang-wrap .tanchuang input {
    display: block;
    width: 80%;
    padding: 0 0.2rem;
    box-sizing: border-box;
    margin: 0 auto;
    /* margin-top: 0.5rem; */
    border: 0;
    line-height: 0.8rem;
    color: rgba(0,0,0,0.4);
    border-bottom: 0.02rem solid rgba(0,0,0,0.3);
}
.user-info .tanchuang-wrap .tanchuang .user_name_text,
.user-info .tanchuang-wrap .tanchuang .user_code,
.user-info .tanchuang-wrap .tanchuang .tell_number {
    margin-top: 0.5rem;
}
.user-info .tanchuang-wrap .tanchuang .code {
    position: relative;
    margin: 0;
    padding: 0;
}
.user-info .tanchuang-wrap .tanchuang .code span {
    border: 0.02rem solid #7abedf;
    color: rgba(0,0,0,0.7);
    font-size: 0.2rem;
    padding: 0.15rem 0.2rem;
    border-radius: 0.05rem;
    position: absolute;
    right: 10%;
    top: 10%;
}
.user-info .tanchuang-wrap .tanchuang .tell_code {
    margin-top: 0.1rem;
}
.user-info .tanchuang-wrap .tanchuang .btncon{ text-align: center; }
.user-info .tanchuang-wrap .tanchuang button {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    background: #7abedf;
    border: 0;
    color: #fff;
    line-height: 0.7rem;
    border-radius: 0.05rem;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
}
.user-info .tanchuang-wrap .tanchuang button.cancel {background: #aaa; margin-right: 30px;}
.user-info li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    border: 0.01rem solid #F6F6F6;
}
.user-info li span {
    display: inline-block;
    font-size: 0.30rem;
    font-weight: 400;
    color:rgba(139,139,139,1);
}
.user-info .title {
    color: #222;
}
.user-info li img{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    overflow: hidden;
}
