* {
    margin: 0;
    padding: 0;
}
body {
    padding-bottom: 2rem;
    box-sizing: border-box;
    background: #fff;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style: none;
}
i,em {
    font-style: normal;
}

/* 轮播图 */
.poster {
    position: relative;
    width: 100%;
    height: 3.75rem;
    overflow: hidden;
    font-size: 0;
    margin: 0 auto;
}
.img-box {
    position: absolute;
    top: 0;
    left:0;
    width: 400%;
    height: 100%;
}
.img-box li {
    display: inline-block;
}
.img-box li a img {
    width: 7.5rem;
    height: 3.75rem;
}
.btn{
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    height: 0px;
}
.btn .prevBtn,
.btn .nextBtn{
    position: absolute;
    width: 15px;
    height: 24px;
    padding: 10px;
    background: rgba(255,255,255,0.5);
    /* opacity: 0.5; */
}
.btn .prevBtn{
    left: 0;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
.btn .nextBtn{
    right: 0;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}
.btn .prevBtn i,
.btn .nextBtn i{
    display: inline-block;
    width: 15px;
    height: 24px;
    color: #fff;
}
.btn .prevBtn i{
    /* background-image: url('../img/taobao.png');
    background-position: -200px 0; */
}
.btn .nextBtn i{
    /* background-image: url('../img/taobao.png');
    background-position: -200px -24px; */
}
.order {
    position: absolute;
    bottom: 0.1rem;
    width: 100%;
    height: 0.3rem;
    text-align: center;
}
.order ul {
    display: inline-block;
}
.order ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background: #fff;
}
.order ul li {
    cursor: pointer;
}
.order ul .activePoster {
    background: #7abedf;
}
/* 轮播图结束 */




/* 底部导航 */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.98rem;
    background: #fff;
    border-top: 0.01rem solid rgba(182, 181, 181, 0.13);
    z-index: 999;
}
.nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.1rem;
    outline: none;
}
.nav ul li span {
    display: block;
    height: 0.44rem;
    background-image: url("../image/icon.png");
    background-size: 100%;
    background-size: 5rem ;
    background-repeat: no-repeat;
    /* background-position: -1.25rem -1.6rem; */
    /* border: 1px solid red; */
    width: 0.5rem;
}


.nav ul li:first-child span {
    background-position: -1.28rem -1.6rem
}
.nav ul li:last-child span {
    background-position: -1.95rem -1.6rem;
}
.nav ul li.index.active span {
    background-position: -1.25rem -0.9rem;
}
.nav ul li.mine.active span {
    background-position: -1.95rem -0.9rem;
}
/* .nav ul li span {
    background-position: -1.3rem -0.9rem;
} */
.nav ul li p {
    color: #8B8B8B;
    font-size: 0.22rem;
}
.nav ul li.active p {
    color: #7ABEDF;
}

/* 底部导航结束 */

/* 标题 */
.course-icon {
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    box-sizing: border-box;
    margin-top: 0.3rem;
    width: 100%;
    display: block;
}
.course-icon img {
    display: inline-block;
    height: 0.3rem;
}
.course-icon h4 {
    display: inline-block;
    color: #3A3A3A;
    font-size: 0.3rem;
    vertical-align: top;
}
/* 标题结束 */

/* 阿姨模块 */
.introduce-poster-wrap {
    width: 100%;
    background: #fff;
    padding-bottom: 0.05rem;
}
.introduce-poster-wrap .poster {
    width: 100%;
}
.introduce-poster-wrap .poster img {
    width: 100%;
}
.introduce-poster-wrap .introduce-title {
    display: block;
    padding: 0 0.2rem;
    box-sizing: border-box;
    color: #8B8B8B;
    font-size: 0.26rem;
    margin-bottom: 0.2rem
}
.particular-introduce-wrap {
    width: 100%;
    padding:  0.3rem 0.2rem;
    box-sizing: border-box;
    background: #fff;
    margin-top: 0.4rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
}
.particular-introduce-wrap .item .particular-title {
    display: flex;
    flex-direction: column;
}
.particular-introduce-wrap .item .particular-title p {
    width: 100%;
    text-align: center;
    color: #7ABEDF;
    font-size: 0.2rem
}
.particular-introduce-wrap .item .particular-title div {
    width: 100%;
    text-align: center;
}
.particular-introduce-wrap .item .particular-title div strong {
    font-size: 0.34rem;
    color: #1c1c1c;
    margin:  0 0.2rem;
}
.particular-introduce-wrap .item .particular-title div img {
    width: 1rem;
}
.particular-introduce-wrap .item em {
    font-size: 0.28rem;
    font-weight: 400;
    color:rgba(58,58,58,1);
    line-height: 0.42rem;
}
.particular-introduce-wrap .item p {
    font-size: 0.24rem;
    font-weight: 400;
    color:rgba(117,117,117,1);
    line-height: 0.3rem;
    margin-top: 0.08rem;
}
.particular-introduce-wrap .item img {
    width: 100%;
    margin-top: 0.15rem;
    border-radius: 0.08rem;
}
.particular-introduce-wrap .btn {
    width: 100%;
    text-align: center;
}
.particular-introduce-wrap button {
    width: 3.5rem;
    height: 0.79rem;
    background: rgba(122,190,223,1);
    box-shadow: 0px 4px 0px 0px rgba(112,177,208,1);
    border-radius: 0.08rem;
    color: #fff;
    border: 0;
    font-weight:400;
    margin-top: 0.5rem;
}