/* 商城 */
.store-wrap {
    width: 100%;
    /* margin-top: 0.2rem; */
    padding: 0 0.4rem;
    box-sizing: border-box;
}
.store-wrap ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.store-wrap ul li {
    display: inline-block;
    width: 3.12rem;
    margin-top: 0.4rem;
    /* border: 1px solid red; */
}
.store-wrap ul li a {
    display: block;
    width: 100%;
    border-radius: 0.08rem;
    overflow: hidden;
    box-shadow: 0px 0px 18px 0px rgba(182,181,181,0.4);
}
.store-wrap ul li .poster {
    display: block;
    width: 100%;
}
.store-wrap ul li .item-title {
    width: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
}
.store-wrap ul li .item-title strong {
    font-size: 0.3rem;
    font-weight: bold;
    color:rgba(58,58,58,1);
    /* line-height: 39px; */
}
.store-wrap ul li .item-title p {
    width: 100%;
    font-size: 0.24rem;
    font-weight: 400;
    color:rgba(177,177,177,1);
    line-height: 0.39rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 产品介绍 */
.particular-introduce-wrap .introduce-content {
    display: flex;
    margin-top: 0.3rem;
    width: 100%;
    background: #F6F6F6;
    border-radius: 0.08rem;
}
.particular-introduce-wrap .introduce-content div {
    width: 3rem;
    padding: 0.3rem 0.25rem;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.particular-introduce-wrap .introduce-content div img {
    width: 100%;
}
.particular-introduce-wrap .introduce-content ul {
    padding: 0.5rem 0;
    box-sizing: border-box;

    width: 4rem;
    /* border: 1px solid red; */
}
.particular-introduce-wrap .introduce-content ul li {
    display: block;
    margin-bottom: 0.05rem;
}
.particular-introduce-wrap .introduce-content ul li p {
    display: inline-block;
    font-size: 0.24rem;
    font-weight: 400;
    color:rgba(58,58,58,1);
    line-height: 0.42rem;
}
.particular-introduce-wrap .introduce-content ul li span {
    background: #7FC1E0;
    color: #fff;
    font-size: 0.2rem;
    font-weight: 400;
    color:rgba(255,255,255,1);
    line-height: 0.42rem;
    display: inline-block;
    text-align: center;
    width: 1.3rem;
    border-radius: 0.2rem
}



