<!-- 我的视频 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收藏课程</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/video.css">
    <style type="text/css">
        a.url {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 2.8rem;
        }
        .cancel {position: relative; z-index: 1;}
    </style>
</head>
<body>
    <div class="wrapper">
        <ul>
            
        </ul>
    </div>

    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/collectlesson.js"></script>
    <script type="text/javascript" src="/public/js/layer/layer.js"></script>
    <script type="text/javascript">
        $('.wrapper').delegate('.cancel', 'click', function(){
            var lesson_id = $(this).attr('lesson_id');
            var thisObj = $(this);

            layer.confirm('确定取消收藏吗？', function(){
                $.ajax({
                    url: "{:U('api/user/cancleCollect')}",
                    type: 'post',
                    dataType: 'json',
                    data: {lesson_id: lesson_id, table_name: 'lesson'},
                    success: function(res){
                        layer.closeAll();
                        if(res.code == 200){
                            thisObj.parents('li').remove();
                        }
                    }
                })
            })
        })
        
    </script>
</body>
</html>