<!-- 个人信息 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/public.css">
    <link rel="stylesheet" href="__STATIC__/css/mine.css">
    <style>
        body,html {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    
    <ul class="user-info">
        <li>
            <span class="title">头像</span>
            <img class="head_pic" src="{$user.head_pic}" alt="">
            <form id="headPicForm" action="{:url('mobile/user/changeHeadPic')}" method="post" enctype="multipart/form-data" style="display: none;">
                <input type="file" name="file">
            </form>
        </li>
        <li>
            <span class="title">姓名</span>
            <span class="user_name_btn">{$user.fullname ? $user.fullname : '请输入姓名'}</span>
        </li>
        <li>
            <span class="title">手机号</span>
            <span class="user_tell_number">{$user.mobile ? $user.mobile : '请输入手机号'}</span>
        </li>
        <li>
            <span class="title">身份证号</span>
            <span class="user_code_click">{$user.ID_number ? $user.ID_number : '请输入身份证号'}</span>
        </li>
        <div class="tanchuang-wrap fullname" style="display:none">
            <div class="tanchuang">
                <input class="user_name_text" type="text" name="fullname" value="" placeholder="请输入姓名">
                

                <div class="btncon">
                    <button class="cancel">取消</button>
                    <button class="over fullname_btn">完成</button>
                </div>
            </div>
        </div>
        <div class="tanchuang-wrap mobile" style="display:none">
            <div class="tanchuang">
                <input class="tell_number" type="text" name="newmobile" value="{$user.mobile}" placeholder="请输手机号">
                <div class="code">
                    <input class="tell_code" type="text" name="code" value="" placeholder="请输入验证码">
                    <span class="getcode">获取验证码</span>
                </div>
                <div class="btncon">
                    <button class="cancel">取消</button>
                    <button class="over mobile_btn">完成</button>
                </div>
            </div>
        </div>
        <div class="tanchuang-wrap ID_number" style="display:none">
            <div class="tanchuang">
                <input class="user_code" type="text" name="ID_number" value="{$user.ID_number}" placeholder="请输入身份证号">
                
                <div class="btncon">
                    <button class="cancel">取消</button>
                   <button class="over ID_number_btn">完成</button>
                </div>
            </div>
        </div>
    </ul>


    <script src="__STATIC__/js/jquery.js"></script>
    <script src="/public/js/layer/layer.js"></script>
    <script src="/public/js/jquery.form.js"></script>
    <script src="/public/js/jquery.cookie.js"></script>
    <script type="text/javascript">
        <!--头像上传 -->
        $('.head_pic').click(function(){
            $('input[name=file]').click()
        })

        $('input[name=file]').change(function(){

          layer.load(1);
          $('#headPicForm').ajaxSubmit({
              dataType: 'json',
              success:function(data){
                  layer.closeAll();
                  if(data.code==200){
                      $('.head_pic').attr('src', data.data.head_pic);
                  } else {
                      layer.msg(data.msg);
                  }

              },
              error:function(){
                  layer.closeAll();
                  layer.msg('服务器错误');
              }
          })
      })

        // 点击修改弹窗
        $('.user_name_btn').click(function(){
            $('.fullname').show();
        })
        $('.user_tell_number').click(function(){
            $('.mobile').show();
        })
        $('.user_code_click').click(function(){
            $('.ID_number').show();
        })

        // 修改姓名
        $('.fullname_btn').click(function(){
            var fullname = $('input[name=fullname]').val();
            if(fullname == '') return false;
            layer.load(1);
            $.ajax({
                url: "{:U('mobile/user/changeField')}",
                type: 'post',
                dataType: 'json',
                data: {field: 'fullname', fieldValue: fullname},
                success: function(res){
                    layer.closeAll();
                    if(res.code == 200){
                        layer.msg('修改成功', {icon:1}, function(){
                            window.location.reload();
                        });

                    } else {
                        layer.msg(res.msg);
                    }
                }
            })
        })

        // 修改手机号
        $('.mobile_btn').click(function(){
            var newmobile = $('input[name=newmobile]').val();
            var code = $('input[name=code]').val();
            if(newmobile == '' || code == '') return false;

            if(!isPhone(newmobile)){
                layer.msg('手机号格式错误');
                return false;
            }
            layer.load(1);
            $.ajax({
                url: "{:U('mobile/user/changeMobile')}",
                type: 'post',
                dataType: 'json',
                data: {mobile: newmobile, code: code},
                success: function(res){
                    layer.closeAll();
                    if(res.code == 200){
                        layer.msg('修改成功', {icon:1}, function(){
                            window.location.reload();
                        });

                    } else {
                        layer.msg(res.msg);
                    }
                }
            })
        })

        // 修改身份证号
        $('.ID_number_btn').click(function(){
            var ID_number = $('input[name=ID_number]').val();
            if(ID_number == '') return false;
            layer.load(1);
            $.ajax({
                url: "{:U('mobile/user/changeField')}",
                type: 'post',
                dataType: 'json',
                data: {field: 'ID_number', fieldValue: ID_number},
                success: function(res){
                    layer.closeAll();
                    if(res.code == 200){
                        layer.msg('修改成功', {icon:1}, function(){
                            window.location.reload();
                        });

                    } else {
                        layer.msg(res.msg);
                    }
                }
            })
        })

        $(document).delegate('.cancel', 'click', function(){
            $('.tanchuang-wrap').hide();
        })


        // 发送手机验证码
        $('.getcode').click(function(){
            if($(this).hasClass('disabled')) return false;

            // 手机号码验证
            var newmobile = $('input[name=newmobile]').val();
            if(!isPhone(newmobile)){
                layer.msg('手机号格式错误');
                return false;
            }

            $.ajax({
                url: "{:U('api/common/sendMobileCode')}",
                type:'post',
                dataType:'json',
                data: {mobile: newmobile, scene: 3},
                success: function(data){
                    if(data.code == 400){
                        layer.msg(data.msg)
                        $.cookie('second', 0);
                        return false;
                    }
                    if(data.code == 200){
                        // 可以发送验证码
                        $.cookie('second', 60);
                        settime($('.getcode'));
                        layer.msg('验证码发送成功'+data.data.code);
                    }
                },
                error: function(){
                    layer.msg('服务器错误');
                }
            })
        })
        
        // 刷新页面计算验证码发送时间
        settime($('.getcode'));

        // 检测手机号
        function isPhone(phone){
            var reg_mobile = /^1[34578]\d{9}$/;
            return reg_mobile.test(phone);
        }


        //开始倒计时
        var countnum;
        function settime(obj) { 
            countnum=$.cookie("second");
            if (countnum == 0) { 
                obj.removeClass('disabled');
                obj.html("获取验证码"); 
                return;
            } else if(countnum>0){ 
                obj.addClass('disabled');
                obj.html("重新发送(" + countnum + ")"); 
                countnum--;
                $.cookie("second", countnum);
            } 
            setTimeout(function() { settime(obj) }, 1000) //每1000毫秒执行一次
        }
    </script>
</body>
</html>