<!-- 我的视频 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的课程</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/video.css">
</head>
<body>
    <div class="wrapper">
        <ul>
            
        </ul>
    </div>

    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/mylesson.js"></script>
</body>
</html>