<!-- 预约页面 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>找阿姨</title>
    <script src="__STATIC__/js/rem.js"></script>
    <link rel="stylesheet" href="__STATIC__/css/public.css">
    <link rel="stylesheet" href="__STATIC__/css/subscribe.css">
</head>
<body>
    <!-- 轮播图 -->
    <div class="poster">
        <ul class="img-box">
            {foreach name="bannerList" item="item"}
            <li><a href="{if condition="$item.ad_link != ''"}{$item.ad_link}{else/}javascript:;{/if}"><img src="{$item.ad_code}" alt=""></a></li>
            {/foreach} 
            <li><a href="{if condition="$bannerList[0].ad_link != ''"}{$bannerList[0].ad_link}{else/}javascript:;{/if}"><img src="{$bannerList[0]['ad_code']}" alt=""></a></li>
        </ul>
        <div class="order">
            <ul>
                {for start="0" end="count($bannerList)"}
                <li class="item {$i == 0 ? 'active' : ''}"></li>
                {/for}
            </ul>
        </div>
    </div>
    <!-- 轮播图结束 -->
    <!-- 中间导航 -->
    <div class="nav-wrap">
        <ul>
            {foreach name="auntCategoryList" item="item"}
            <li>
                <a class="item_nav" href="javascript:;" cat_id="{$item.id}">
                    <img src="{$item.image}" alt="">
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    <!-- 中间导航结束 -->
    <!-- 课程展示 -->
    <div class="wrapper">
        <ul></ul>
    </div>
    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/poster.js"></script>
    <script src="__STATIC__/js/subscribe.js"></script>
</body>
</html>